@model MVCEgitim.Models.Kullanici

@{
    ViewBag.Title = "Kullanıcı Bilgileri";
}

<h2>Kullanıcı Bilgileri</h2>

@using (Html.BeginForm())
{
    <div>Ad : @Html.TextBoxFor(model => model.Ad)</div>
    <div>Soyad : @Html.TextBoxFor(model => model.Soyad)</div>
    <div>Email : @Html.TextBoxFor(model => model.Email)</div>
    <div>Şifre : @Html.TextBoxFor(model => model.Sifre)</div>
    <div>Kullanıcı Adı : @Html.TextBoxFor(model => model.KullaniciAdi)</div>
    <div><input id="Submit1" type="submit" value="Gönder" /></div>
}

@if (IsPost)
{
    @ViewBag.Mesaj
    <hr />
    @ViewData["Vdata"]
    <hr />
    @TempData["Tdata"]
}